@import "../../assets/styles/mixins";
@import "../../assets/styles/colors";

.detail-box {
  &__head {
    margin-bottom: 48px;

    > span {
      display: block;
      margin-bottom: 12px;
    }
  }

  &__description {
    > span {
      display: block;
      margin-bottom: 12px;
    }

    &__head {
      @include flex-center-between;
      padding-bottom: 10px;
      margin-bottom: 22px;
      border-bottom: 1px solid $mercury-2;

      .ticket {
        + .ticket {
          margin-left: 8px;
        }
      }
    }
  }
}
