@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-start-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@mixin inline-flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


